<nav>
  <section class="icon">
    <img src="../../../assets/icons/pet (1).svg" alt="">
  </section>
  <section>
    <ul class="links">
      <li>
        <a href="/gosomewhere">Localizacion</a>
      </li>
      <li>
        <a href="/gosomewhere">Blog</a>
      </li>
      <li>
        <a href="/gosomewhere">Servicios</a>
      </li>
      <li>
        <a href="/gosomewhere">Acerca de nosotros</a>
      </li>
      <li>
        <a href="/gosomewhere">Unete</a>
      </li>
    </ul>
  </section>

</nav>
