<!-- pantalla de carga -->
<section class="loader">
  <h2 class="loading-title">Cargando</h2>
  <div></div>
  <div></div>
  <div></div>
</section>
<app-nav-bar></app-nav-bar>
<main class="main-page">
  <section class="w1">
    <section class="primary-section">
      <h1 class="home-title">Cuidamos a tu mascota!</h1>
      <p class="home-paragraph">Somos una empresa que tiene altos estandares de cuidado <br>
        y lo hemos hecho asi por mas de 15 años!</p>
        <div class="contact-container">
          <button class="service-button">Pide un servicio</button>
          <p class="service-paragraph">O llamanos al 333333333</p>
        </div>
    </section>
    <section class="secondary-section">
      <div class="icon-background">
        <img class="icon-golden" src="../../../assets/images/FAVPNG_golden-retriever-labrador-retriever-puppy-pet-sitting-tweed-water-spaniel_fTGr4pkV-1.png" alt="imagen de golden retriever">
      </div>
    </section>
  </section>
  <section class="service-section">
    <div class="w2">
      <div class="our-services">
        <h2 class="our-services-title">Nuestros Servicios</h2>
        <p class="our-services-text">Una experiencia como ninguna otra!</p>
        <p class="our-services-location">Introduce tu localizacion y mira nuestros servicios</p>
        <div class="input-container">
          <input class="our-services-input" type="text" placeholder="Zip code">
          <button class="our-services-button" type="submit"> -> </button>
        </div>
      </div>
      <div class="cards">
        <div class="cards-grid">
          <div class="card1">
            <img src="../../../assets/icons/dog.svg" alt="icono paseo de perros">
            <p>Paseo de perros</p>
          </div>
          <div class="card2">
            <img src="../../../assets/icons/Grupo 63.svg" alt="icono cuidado en casa">
            <p>Cuidado en casa</p>
          </div>
          <div class="card3">
            <img src="../../../assets/icons/Grupo 65.svg" alt="icono diseño de casas">
            <p>Diseño de casas</p>
          </div>
          <div class="card4">
            <img src="../../../assets/icons/Grupo 64.svg" alt="icono otros servicios">
            <p>Otros servicios</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="comments-section">
    <div class="w3"></div>
    <h2 class="comments-title">Mira algunos comentarios de nuestros clientes!</h2>
    <div class="comments-cards">
      <button class="comments-button"> <- </button>
      <div class="comment-card1">
        <img src="../../../assets/icons/icons8-test-account-48.png" alt="imagen perfil">
        <h3>Carl Jhohans</h3>
        <p>Cuidaron muy bien a mi perro,<br> creo que contratare el servicio de nuevo muy pronto </p>
      </div>
      <div class="comment-card2">
        <img src="../../../assets/icons/icons8-test-account-48.png" alt="imagen perfil">
        <h3>Emile Gibson</h3>
        <p>La casa que diseñaron para mi perro le encanto! <br> recomiendo mucho el servicio</p>
      </div>
      <div class="comment-card3">
        <img src="../../../assets/icons/icons8-test-account-48.png" alt="imagen perfil">
        <h3>Sara Amstromg</h3>
        <p>Los cuidados que tuvieron con mi gato mientras no estuve fueron perfectos!<br> lo agradezco</p>
      </div>
      <button class="comments-button"> -> </button>
    </div>
  </section>
  <section class="how-it-works-section">
  <div class="w4"></div>
  <div class="how-it-works-principal-container">
    <div class="how-it-works-icons">
      <div class="icons-container">
        <div class="icons-container-dashed"></div>
        <div class="how-it-works-icons-card1">
          <img src="../../../assets/icons/Grupo 69.svg" alt="icono reservar">
          <p>Reserva</p>
        </div>
        <div class="how-it-works-icons-card2">
          <img src="../../../assets/icons/Grupo 70.svg" alt="icono encuentra">
          <p>Encuentra</p>
        </div>
        <div class="how-it-works-icons-card3">
          <img src="../../../assets/icons/Grupo 71.svg" alt="icono relajate">
          <p>Relajate</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-container">
      <h2 class="how-it-works-title">¿Como funciona?</h2>
      <p class="how-it-works-text">Queremos que tengas el servicio que mas se acomode a ti!</p>
      <p class="how-it-works-location">Introduce tu localizacion aqui</p>
      <div class="how-it-works-input-container">
        <input class="how-it-works-input" type="text" placeholder="Zip code">
        <button class="how-it-works-button" type="submit"> -> </button>
      </div>
    </div>
  </div>
  <div class="w5"></div>
  </section>
  <section class="what-are-you-waiting-section">
    <div class="what-are-you-waiting-container">
      <div class="what-are-you-waiting-icon-background">
        <img class="what-are-you-waiting-dog" src="../../../assets//images/dog-11313-1@2x.png" alt="">
      </div>
      <div class="what-are-you-waiting-text">
        <h2 class="what-are-you-waiting-title">¿Que estas esperando?</h2>
        <p class="what-are-you-waiting-paragraph">Si tu mascota necesita nuestros servicios <br> ahi estaremos! aprovecha nuestras promociones de <br> temporada y agenda una cita</p>
        <button class="what-are-you-waiting-button">Unete ahora</button>
      </div>
    </div>
  </section>
</main>
<footer class="footer-section">
  <div class="footer-links">
    <div class="about-container">
      <ul class="about-title">
        Sobre nosotros
        <li>
          <a href="/gosomewhere">Localizacion</a>
        </li>
        <li>
          <a href="/gosomewhere">Unete</a>
        </li>
        <li>
          <a href="/gosomewhere">Socios</a>
        </li>
        <li>
          <a href="/gosomewhere">Sobre Nosotros</a>
        </li>
        <li>
          <a href="/gosomewhere">Contactanos</a>
        </li>
      </ul>
    </div>
    <div class="resources-container">
      <ul class="resources-title">
        Recursos
        <li>
          <a href="/gosomewhere">Reseñas</a>
        </li>
        <li>
          <a href="/gosomewhere">Recurso para mascotas</a>
        </li>
        <li>
          <a href="/gosomewhere">Hoja informativa</a>
        </li>
        <li>
          <a href="/gosomewhere">Blog</a>
        </li>
        <li>
          <a href="/gosomewhere">Noticias</a>
        </li>
      </ul>
      <ul class="resources-title-2">
        <li>
          <a href="/gosomewhere">Tarjetas de regalo</a>
        </li>
        <li>
          <a href="/gosomewhere">Servicios</a>
        </li>
        <li>
          <a href="/gosomewhere">Iniciar sesión</a>
        </li>
        <li>
          <a href="/gosomewhere">Términos de uso</a>
        </li>
        <li>
          <a href="/gosomewhere">Política de privacidad</a>
        </li>
      </ul>
    </div>
    <div class="subscribe-container">
      <h2 class="subscribe-title">Subscribete!</h2>
      <p class="subscribe-paragraph">Unete y recibe noticias sobre los servicios!</p>
      <div class="subscribe-button-container">
        <input class="subscribe-input" type="email" placeholder="Email Adress">
        <button  class="subscribe-button" type="button">-></button>
      </div>
    </div>
  </div>
</footer>
